<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<div class="container-fluid">
  <div class="col">
    <h1 class="display-1 text-center mb-2 mt-5">Error 404!</h1>
    <p class="text-center lead">
      A pagina que você está procurando não existe.
    </p>
  </div>
</div>
<%- include('includes/footer'); %>
